# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# Config local
.env

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Playwright
playwright-report/
.cache/
